<html>
	<body>
		<h2><%= cur_dir %></h2>
		<ol>
			<% files.each { |f| %>
			<li>
			<% if f["is_dir"] %>
				<a href="/list<%= f["name"] %>">
					<%= f["name"] %>
				</a>
			<% elsif f.has_key?("url") %>
				<a href="<%= f["url"] %>">
					<%= f["name"] %>
				</a>
			<% else %>
				<%= f["name"] %>
			<% end %>
			</li>
			<% } %>
		</ol>
	</body>
</html>
